html{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgb(219, 126, 251);
}
h1{
    font-size: 80px;
    text-align: center;
    letter-spacing: 2px;
}
p,li{
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0px;
}
body{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(251, 197, 255);
    padding: 0 20px 20px 20px;
    border: 3px solid black;
}
img {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 1px;
    border: 1px solid black;
}
a {
    margin: 3 auto;
    padding: 10px  10px 10px 10px;
    border: 1 px solid black;
    background-color: rgb(219, 126, 251);
    text-align: center;
}